.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.Rproj.user/028FC1A2/pcs/windowlayoutstate.pper
.Rproj.user/028FC1A2/pcs/source-pane.pper
.source-pane.pper
/.Rproj.user
_site
.Rproj.user/028FC1A2/pcs/source-pane.pper
